
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting up variables */
:root {
  --background-color: #171717;
  --text-color: #CCCCCC;
  --hover-color: #FFFFFF;
  --highlight-color: #E3B029;
}

html {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100%;
  overflow-x: hidden;
}

.container {
  --padding: 4em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

/* General styles */
::selection {
  background: var(--highlight-color);
}

.link {
  color: var(--text-color);
  text-decoration: none;
}

.link:focus {
  outline: 1px solid var(--highlight-color);
  color: var(--hover-color);
}

.link:hover {
  color: var(--hover-color);
}

.link-container {
  border-radius: 0.2em;
}

.link-container:hover, .link-container:focus {
  background-color: rgba(255,255,255,0.025);
}

.center-block {
  display: flex;
  justify-content: center;
}

.list {
  list-style-type: none;
}

.emph {
  font-weight: bold;
}

#main-content {
  font-size: 1.1rem;
}

/* Navigation & Footer*/
.nav {
  text-transform: uppercase;
  margin-bottom: 2em;
}

.footer {
  position: relative;
  text-transform: uppercase;
  margin-top: auto;
  font-size: 0.8rem;
}

.list-link {
  /* TODO: em/rem/px? */
  margin: 2em;
}

/* The line in the middle */
hr {
  border: 2px solid var(--text-color);
}

/* Section headers */
.section-header {
  font-size: 7rem;
  margin: 0;
  max-width: 500px;
  line-height: 100px;
  cursor: default;
}

.float{
  transition: 400ms ease-in-out;
}

.float:hover {
  display: inline-block;
  color: var(--highlight-color);
  transform: translateY(-10px);
}

/* Index styles */
.index-header {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

/* Skills */
.skill-list {
  margin: 0;
}

.skill-list-item {
  margin-bottom: 0.5em;
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.project-item {
  margin-bottom: 0.5em;
}

.project-list {
  background-color: rgba(255,255,255,0.010);
  border-radius: 0.2em;
}
