@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700&display=swap');

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  --main-color: #FFFFFF;
  --bg-color: #171717;
  --document-font: 'PT Serif', serif;
  --document-font-display: 'Helvetica Neue', sans-serif;
  --nav-height: 85px;
}

body {
  color: var(--main-color);
  font-family: var(--document-font);
  font-size: 16px;
  background-color: var(--bg-color);
  margin: 0;
}

nav {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: var(--nav-height);
  background-color: var(--main-color);
  z-index: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--bg-color);
  margin: 30px;
  font-size: 1.1rem;
  z-index: 1;
  transition: 200ms;
}

.nav-links, h1 {
  font-family: var(--document-font-display);
}

.logo {
  margin: 0;
  padding: 0;
  line-height: 40px;
  font-size: 3rem;
  font-family: 'UnifrakturCook', cursive;
  text-align: right;
  transform: rotateZ(270deg);
  transition: 200ms;
}

.logo-link {
  position: absolute;
  margin: 0;
  padding: 0;
  color: var(--bg-color);
  overflow: hidden;
  height: var(--nav-height);
}

.logo-container {
  position: relative;
  overflow: hidden;
}

.nav-container {
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

li {
  line-height: 25px;
}

hr {
  border: 2px solid var(--main-color);
  margin: 15px calc(-50vw + 50%);
}

.project-list {
  line-height: 20px;
}

section > p {
  margin: 0;
}

section {
  margin: 16px 0px;
}

li:nth-child(1), .project-title, .inline-link {
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding: 0;
}

line {
  stroke: var(--main-color);
  stroke-width: 7px;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-70px);
  z-index: 0;
  margin: 0 40px;
}

.content {
  line-height: 1px;
  width: 360px;
  height: 250px;
}

.skills-lists {
  display: grid;
  grid-template-columns: 50% 50%;
}

.skill-list {
  margin-top: 0;
}

.form-field {
  display: grid;
  grid-template-columns: 20% 70%;
}

.form-field + .form-field {
  margin-top: 10px;
}

input, textarea {
  margin-left: 10px;
  width: 200px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-size: 1rem;
  font-family: var(--document-font);
}

textarea {
  height: 100px;
  max-width: 200px;
  max-height: 100px;
}

.emoji {
  font-size: 1.7rem;
}

.clickable {
  cursor: pointer;
}

.clickable:hover, .clickable:focus {
  opacity: 0.7;
}

#submit {
  background-color: transparent;
  border: 0px;
  color: var(--main-color);
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
  font-family: var(--document-font);
}

#submit > .emoji {
  font-size: 1.7rem;
}

@media (max-width: 460px) {
  .mobileLineBreak {
    display: table;
    line-height: 1px;
  }

  h2 .mobileLineBreak {
    line-height: 80px;
  }

  h1 {
    line-height: 80px;
  }
}